body::before {
  display: block;
  content: '';
  height: 60px;
}


@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }

  .gradient-background {
    background-image: linear-gradient(to right, #dd9797, #4b43b5);
  }
}
  /*.img-fluid {
    border-radius: 50%;

  }
